/.snakemake/
/data/
/data_output/
/data_output_multiqc/
/play_data_ref_annot/
/data_output_bbduk_trimmed/
/data_output_fastqc_trimmed/
/data_output_multiqc_trimmed/
/data_output_star_mapped/
/data_output_samtools_indexed/
/data_output_featureCount/
/data_output_selected/
/data_output_matrix/
